.tickbar-container{
	all: unset;
	//Dark mode
	//-webkit-filter: invert(100%) !important;
	position:fixed;
	font-family:'OpenSans-Light';
	font-weight:800;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	flex-direction:column;
	z-index:100000;
	box-sizing: content-box;
	//background:rgba(255,255,255,0.85);
	>.tickbar{
		position:absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%,-20%);
		width:40%;
	    background: #3C3C3C;
    	border-radius: 5px;
		box-shadow: 3px 5px 30px 0px rgba(0,0,0,0.6);
		>#icon{
			all: unset;
		    border: 0;
		    /* width: 30px; */
		    height: 30px;
		    position: absolute;
		    top: 20px;
		    left: 15px;
		}
		>#tickbar-text{
			border:none;
			outline:none;
			height:50px;
			letter-spacing: 2px;
			text-indent:60px;
			padding:10px 0;
			width:100%;
			font-size:30px;
			background:#3C3C3C;
			border-radius:5px 5px 0 0;
			-webkit-box-sizing: content-box;
    		box-sizing: content-box;
			color:white;
			margin:0px;
		}

		>#tickbar-result-container{
			width:100%;
			max-height:300px;
			overflow-y:auto;
			padding: 2px 0px;
			border-radius:0 0 5px 5px;
			background:#3C3C3C;
    		box-sizing: content-box;
			::-webkit-scrollbar {
				background: #3c3c3c;
				border-radius: 5px;
			}
			>.tickbar-result{
				color:white;
				position:relative;
				margin:15px 10px 5px 10px;
				padding: 10px;
				border-radius: 5px;
				&.tickbar-selected{
					background: #4295eb;
				}
				>.search-name{
					all:unset;
					position:absolute;
					display:block;
					top:5px;
					right:5px;
					font-size:12px;
					color:#cecece;
				}
				>.title{
					all:unset;
					width:80%;
					display:block;
					white-space: nowrap;
					font-size: 15px;
					overflow: hidden;
					text-overflow: ellipsis;
					min-height: 20px;
				}
				>.url{
					all:unset;
					font-size:10px;
					display:block;
					color:#cecece;
					width:80%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}
@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fade-in {
	animation-name: reset, fade-in;
	animation-duration: 100ms;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}