body{
	background:white;
	margin:0px;
	font-family: 'OpenSans-Light',Verdana !important;
	>.navbar{
		width:100%;
		>.navbar-content{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
			max-width: 1024px;
			margin: 0 auto;
			>.navbar-left{
				height:80px;
				display:flex;
				align-items:center;
				>.logo{
					height:50px;
				}
			}
			>.navbar-right{
				height:80px;
				display:flex;
				align-items:center;
				padding-bottom:10px;
				>.title{
					font-weight:400;
					font-size:28px;
				}
			}
		}
	}
	>.content-container{
		width:100%;
		>.content{
			display: flex;
			justify-content: space-between;
			padding: 50px;
			flex-direction:column;
			max-width: 1024px;
			margin: 0 auto;
			.label {
				font-size:20px;
			}
			.description{
				font-size:15px;
				margin-bottom:10px;
			}
			.form{
				margin-left:20px;
				input[type="text"]{
					width:150px;
					height:25px;
					font-size:16px;
					text-align:center;
					color:#27aae1;
				}
			}
			.center{
				text-align:center;
				width:100%;
			}
			hr{
				border-style: none;
				border-top: 1px solid #e6e6e6;
				width: 100%;
			}
			&.footer{
				align-items:center;
				a{
					color:#27aae1;
				}
				>ul{
					list-style: none;
    				list-style-type: none;
    				>li{
    					float:left;
    					padding: 0px 10px;
    				}
				}
			}
		}
	}
}